<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Register Page</title>
  </head>
  <body>
    <%-include('common/nav')%>

    <div class="container mt-5">
        <div class="card mt-5" style="background-color: aqua;" >
            <div class="card-header">
              <strong>Register Form</strong>
            </div>
            <% if (message2.length > 0) { %>
                <div class="alert alert-danger">
                    <strong><%=message2%></strong>
    
                </div>
                <% } %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <form action="/register/create" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword">
                </div>
                
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </li>
              
            </ul>
          </div>
    </div>
  </body>
</html>